<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="icon" type="image/x-icon" href="images/favicon.ico">
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="css/main.css">
      <title>mindofjacob.ca | Portfolio | Front End Developer</title>
   </head>
   <body>
      <h1 class="hidden">Jacob's Portfolio Website</h1>
      <header class="mainHeader fade-in-down">
         <nav class="mainNav">
            <h2 class="hidden">Main Navigation</h2>
            <ul class="navigation">
               <li><a class="active" href="index.html">PORTFOLIO</a></li>
               <li><a href="about.html">ABOUT</a></li>
               <li><a href="contact.html">CONTACT</a></li>
            </ul>
         </nav>
         <i class="fa-solid fa-2x fa-arrow-down bounce2" id="arrowIcon"></i>
      </header>
      <main id="app">
         <section class="about-info">
            <h2 class="hidden">About Me</h2>
               <section class="skills-wrapper">
                  <section class="skills">
                     <h2 class="skills-header">Developer Skills</h2>
                     <ul>
                        <li>• UI/UX Prototyping</li>
                        <li>• CMS (Wordpress & Shopify)</li>
                        <li>• Accessibility Practices</li>
                        <li>• Responsive Web Development</li>
                     </ul>
                  </section>
                  <section class="skills">
                     <h2 class="skills-header">Languages & Frameworks</h2>
                     <ul>
                        <li>• HTML & CSS</li>
                        <li>• Javascript & Vue.JS</li>
                        <li>• PHP & LUMEN</li>
                        <li>• NODE.JS</li>
                     </ul>
                  </section>
               </section>
               <ul class="about-select">
                  <selector v-on:showdata="swapInfo" v-for="item in aboutData" :piece="item" :key="item.id"></selector>
                  <selector v-on:showdata="swapInfo" v-for="item in portfolioData" :piece="item" :key="item.id"></selector>
               </ul>
               <about :piece="currentItem"></about>
         </section>
         <section class="see-more">
            <section class="resume">
               <h2>Resume</h2>
               <button class="see-button">View PDF</button>
            </section>
            <section class="port">
               <h2>Portfolio</h2>
               <button class="see-button">View PDF</button>
            </section>
         </section>
      </main>
      <section></section>
      <footer class="mainFooter">
         <h2 class="hidden">Footer Section</h2>
         <ul class="footer-socials">
            <a href="https://www.linkedin.com/in/mindofjacob/" target="_blank"><i class="fa-brands fa-linkedin-in fa-2x"></i></a>
            <a href="https://github.com/dizzyhippie" target="_blank"><i class="fa-brands fa-2x fa-github"></i></a>
         </ul>
         <ul class="footer-arrow">
            <a href="#"><i class="fa-solid fa-2x fa-arrow-up"></i></a>
         </ul>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script src="js/about.js" type="module" defer></script>
   </body>
</html>
