<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="css/main.css">
      <title>mindofjacob.ca | Portfolio | Front End Developer</title>
   </head>
   <body>
      <h1 class="hidden">Jacob's Portfolio Website</h1>
      <header class="mainHeader fade-in-down">
         <nav class="mainNav">
            <h2 class="hidden">Main Navigation</h2>
               <ul class="navigation">
                  <li><a class="active" href="index.html">PORTFOLIO</a></li>
                  <li><a href="about.html">ABOUT</a></li>
                  <li><a href="contact.html">CONTACT</a></li>
               </ul>
         </nav>
         <i class="fa-solid fa-2x fa-arrow-down bounce2" id="arrowIcon"></i>
      </header>
      <section class="introduction">
         <h2 class="hidden">Bio Introduction</h2>
         <h2 class="intro-header">hello</h2>
         <p>my name is jacob smith, a front end developer in London, Ontario.</p>
      </section>
      <main id="app">
         <h2 class="projects-header">Code Projects</h2>
         <section class="portfolio">
            <h2 class="hidden">Developer Portfolio</h2>
            <tile v-on:showdata="swapInfo" v-for="item in developProjects" :key="item.id" :piece="item"></tile>
         </section>
         <modal :piece="currentItem"></modal>
         <h2 class="projects-header">Other Projects</h2>
         <section class="portfolio">
            <h2 class="hidden">Developer Portfolio</h2>
            <tile v-on:showdata="swapInfo" v-for="item in otherProjects" :key="item.id" :piece="item"></tile>
         </section>
         <modal :piece="currentItem"></modal>
      </main>
      <footer class="mainFooter">
         <h2 class="hidden">Footer Section</h2>
         <h2>Main Footer</h2>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script src="js/main.js" type="module" defer></script>
   </body>
</html>
