#about-select{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

#aboutInfo{
    margin-top: 50px;
}

.about-bio{
    margin-left: 10px;
    margin-right: 10px;

}

#about-pic{
    display: block;
    margin: 0 auto;
    max-width: 250px;
}

#aboutSkills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills{
    margin-top: 45px;
    margin-bottom: 25px;
}

.left{
    margin-right: 10px;
}

.right{
    margin-left: 10px;
}

.fab{
    margin-left: 10px;
    margin-right: 10px;
    color: #9E5F81;
}

.socialIcons{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
}