#enter{
    display: block;
    margin: 0 auto;
    padding: 15px;
    border-radius: 25px;
    border: none;
}

.footer-button{
    display: block;
    font-family: loos-normal, sans-serif;
    font-size: 12px;
    font-weight: 600;
    background-color: #9F5F81;
    color: #fff;
    border-radius: 50px;
    border: none;
    width: 200px;
    padding: 15px;

}

.close, .github{
    font-family: loos-normal, sans-serif;
    font-size: 12px;
    font-weight: 600;
    background-color: #9F5F81;
    color: #fff;
    border-radius: 50px;
    border: none;
    padding: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

