.close, .github{
    font-family: loos-normal, sans-serif;
    font-size: 12px;
    font-weight: 600;
    background-color: #9F5F81;
    color: #fff;
    border-radius: 50px;
    border: none;
    padding: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-button{
    text-align: center;
    font-family: loos-normal, sans-serif;
    padding-top: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    color: #9F5F81;
}

.home-socialIcons{
    display: flex;
    justify-content: center;
}

