//Portfolio Tile Fonts
.p_name{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 34px;
    font-weight: 800;
    font-style: normal;
    color: #9E5F81;
    padding-top: 150px;
    
}

.p_industry{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #9E5F81;
    margin-top: 10px;
}

//Modal Fonts
.m_name{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 34px;
    font-weight: 800;
    font-style: normal;
    color: #9E5F81;
    padding-top: 150px;
    
}

.m_type{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #9E5F81;
    margin-top: 10px;
}

.m_description{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #9E5F81;
    margin-top: 10px;
}

//Intro About Fonts
#about-h{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 34px;
    font-weight: 800;
}

#about-p{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

//Navigation Fonts
#navigation li{
    color: #fff;
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
}

//About Page
.skills-head{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 18px;
    font-weight: 800;
}

.skills-desc{
    text-align: center;
}