#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer-logo{
    width: 20%;
    margin-left: 5px;
    margin-right: 5px;
}