#mainHeader{
    background-image: url("../images/hero-m.png");
    height: 240px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#logo{
    margin-left: 10px;
    width: 25%;
    margin-bottom: 20px;

}

#mainNav {
    display: flex;
    margin-top: 85px;
    margin-right: 10px;
}

#navigation{
    margin-left: 15px;
}

#navigation li{
    margin-top: 10px;
    margin-bottom: 10px;

}

#navigation li a{
    font-family: loos-normal, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.active{
    color: #EE8076;
}

#mainNav button{
    background: url(../dist/hamburger-icon.svg)  no-repeat center;
    width: 45px;
    height: 40px;
    border: none;
    transition: all .1s ease;
}

#mainNav button.clicked{
    transform: rotate(90deg);
}

#hamContainer{
    display: none;
}

#hamContainer.slide{
   display: block;
}