#mainHeader{
    background-image: url("../images/hero-m.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#logo{
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 75px;
}

#mainNav {
    display: flex;
    margin-top: 35px;
    margin-right: 10px;
}

#mainNav button{
    background: url(../dist/hamburger-icon.svg)  no-repeat center;
    width: 45px;
    height: 40px;
    border: none;
    transition: all .1s ease;
}

#mainNav button.clicked{
    transform: rotate(90deg);
}

#hamContainer{
    display: none;
}

#hamContainer.slide{
   display: block;
}