#mainHeader{
    background-image: url("../images/hero-m.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
}

#logo{
    width: 75px;
    margin-left: 10px;
    margin-top: 10px;
}