#intro{
    margin-top: 50px;
    margin-bottom: 100px;
}

.fas{
    display: flex;
    justify-content: center;
}

#video{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#motionGraphics{
    margin-bottom: 50px;
}

#trapSection{
    display: none;
}

.trap-title{
    display: none;
}

.trap-desc{
    display: none;
}