.modal-panel{
    display: none;
    width: 310px;
    background-color: #000;
    padding-top: 25px;
    margin-bottom: 50px;
    filter: drop-shadow(10px 5px 7px #000);
    border-radius: 50px;;
    position: fixed;
    //Position the modal in the center of the screen
    left: 40%;
    top: 15%;
}