.modal-panel{
    display: none;
    width: 250px;
    height: 350px;
    background-color: #E4E4E4;
    margin-bottom: 50px;
    filter: drop-shadow(10px 5px 7px #000);
    border-radius: 50px;;
    position: fixed;
    //Position the modal in the center of the screen
    left: 12%;
    top: 20%;
    overflow: scroll;
}

.modal-images{
    margin-top: 10px;
    margin-bottom: 10px;
}