.portfolio-pieces{
    background-image: url("../images/gallery-purple.png");
    width: 215px;
    height: 289px;
    border-radius: 45px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.portfolio{
    display: block;
}