#aboutSkills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skills{
    margin-top: 45px;
    margin-bottom: 25px;
}

.left{
    margin-right: 10px;
}

.right{
    margin-left: 10px;
}
