//Portfolio Tile Fonts
.p_name{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 34px;
    font-weight: 800;
    font-style: normal;
    color: #9E5F81;
    padding-top: 150px;
    width: 200px;
    margin: 0 auto;
    
}

.p_industry{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #9E5F81;
    margin-top: 10px;
}

//Modal Fonts
.m_name{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 34px;
    font-weight: 800;
    font-style: normal;
    color: #9E5F81;
    padding-top: 25px;
    
}

.m_type{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #9E5F81;
    margin-top: 10px;
}

.m_desc{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    font-style: normal;
    color: #9E5F81;
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
}

.section-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: loos-normal, sans-serif;
    font-weight: 800;
    color: #9E5F81;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 24px;
}

//Intro About Fonts
#about-h{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 10px;
}

#about-p{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 600px;
}


//About Page
.skills-head{
    text-align: center;
    font-family: loos-normal, sans-serif;
    font-size: 18px;
    font-weight: 800;
}

.skills-desc{
    text-align: center;
}