.about-info{
    height: 200px;


    //REMOVE
    margin-bottom: 500px;
}

.bio-pic{
    max-width: 65%;
    display: block;
    margin: 0 auto;
}

.skills-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../images/thumbnail.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 5px;
    padding-right: 5px;
}

.skills-header{
    font-family: 'Inter', sans-serif;
    color: #eee;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.skills{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.skills ul li{
    font-family: 'Inter', sans-serif;
    color: #eee;
    font-size: 1em;
    font-weight: 400;
    padding-bottom: 2px;
    padding-top: 2px;
}
