.introduction{
    background-image: url("../images/thumbnail.png");
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 5px;
    padding-right: 5px;
}

.intro-header{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #eee;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 15px;
}

.intro-text{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #eee;
    margin-top: 5px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.25em;
}

.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

    a{
        margin-left: 0.5em;
        margin-right: 0.5em;
        color: white;
    }
}

@media screen and (min-width: 500px){
    .intro-text{
        max-width: 500px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1000px){
    .intro-header{
        font-size: 28px;
        margin-bottom: 10px;
    }

    .intro-text{
        font-size: 20px;
    }
}
